 <section id="board">
    <ul class="cells">
      <% @current_cards.each do |card| %>
        <%= render 'show-card', card: card %>
      <% end %>
    </ul>

  </section>
   <section class="center-text">
    <button id="no-set" class="c-button c-button--block c-button--error">No set</button>
  </section>
