<h1>Set Game</h1>

<!-- Add button for play game -->

<h2>Top Scores</h2>
<% @games.each do |game| %>
  <% user = GameHelper.find_user(game) %>
  <%= user.username %>
  <%= game.sets %>
  <%= game.total_time %>
<% end %>
