<header class="container center-text">
 <button class="c-button u-super" style='background-color:blue;'>Play SET</button>
  <h3 id="set-count" style='color:white;'></h3>
</header>

<main role="main" class="container">

  <%= render partial: 'board', locals: { cards: @current_cards }  %>
</main>
