<!-- DO NOT MODIFY -->
<header class="container center-text">
  <h1>PLAY SET YAY</h1>
</header>

<main role="main" class="container">


  <section>
    <ul class="cells">
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell "><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
      <li class="cell"><button class="c-button c-button--info">card</button></li>
    </ul>
  </section>
   <section class="center-text">
    <button class="c-button c-button--error">No set</button>
  </section>
</main>
